@media (max-width: 1024px) {
    .home {
        flex-direction: column-reverse;
    }

    .sidebar {
      padding: 0 0 50px;
    }
}

@media (min-width: 1023px) {
  .sidebar form.create {
    position: sticky;
    top: 100px;
  }
}