:root {
  --error: #ca2d2d;
  --primary: #e0dfd5;
  --link: #8add3d;
  --main-bg: #131314;
  --secondary-bg: #1e1e29;
}

* {
  color: var(--primary);
  box-sizing: border-box;
}

a, a * {
  color: var(--link);
}

html, body {
  margin: 0;

  background-color: var(--main-bg);
}

header {
  position: sticky;
  top: 0;

  display: flex;

  background-color: var(--secondary-bg);
}

.container,
.pages {
  max-width: 1400px;
  width: 100%;

  margin: auto;
}
